# Python ignores
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
.env
*.egg-info/
dist/
build/
*.sqlite3
.ipynb_checkpoints

# VSCode and IDE
.vscode/
.idea/

# OS ignores
.DS_Store
Thumbs.db

# Large dataset ignore
WELFake_Dataset.csv
